h1 {
    text-align: center
}

.movieForm {
    display: grid;
    grid-template-columns: auto;
}

.genreForm {
    display: grid;
    grid-template-columns: auto;
}

.directorForm {
    display: grid;
    grid-template-columns: auto
}

